<h1><%= t("sessions.new.title") %></h1>
<% if flash.keys.any? %>
  <% [:notice, :error].each do |t| %>
    <% if flash[t] %>
      <div class="alert alert-success" role="alert">
        <%= flash[t] %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= simple_form_for :signin, html: {:class => 'form-signin', :role => 'form '}, method: "POST" do |f| %>
  <div class='form-group'>
    <%= f.input :staff_mail_address, input_html: {:class => 'form-control'}, label: t("sessions.new.staff_mail_address") %>
  </div>
  <div class='form-group'>
    <%= f.input :staff_login_password, input_html: {:class => 'form-control'}, label: t("sessions.new.staff_login_password") %>
  </div>
    <%= f.submit t("sessions.new.submit"), :class => "btn btn-lg btn-primary btn-block" %>
<% end %>
<%= cookies[:test] %>