<h3><%= t('admin.index.welcome') + "  " + current_user.staff_name %></h3>
<%= link_to t('admin.index.logout'), signout_path %>
<% if flash.keys.any? %>
  <% [:success, :notice, :error].each do |t| %>
    <%= flash[t] %>
  <% end %>
<% end %>
	<div class="well">
      <form class="form-inline" role="form" action="<%= root_path %>" method="GET">
        <div class="form-group">
          <select class="form-control" name="q[role_id_eq]">
            <%= options_for_select([['管理者', 100], ['利用者', 102]], @role_id) %>
          </select>
        </div>



        <div class="form-group">
          <div class="input-group">
            <label class="sr-only" for="q_staff_name_cont">Email address</label>

            <input type="text" class="form-control" id="q_staff_name_cont" name="q[staff_name_cont]" placeholder="Name" value="<%= @staff_name %>"></input>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="q_mail_address_cont">Password</label>
          <input type="text" class="form-control" id="q_mail_address_cont" name="q[mail_address_cont]" placeholder="Mail" value="<%= @mail_address %>"></input>
        </div>
        <button type="submit" class="btn btn-default search_button"><span class="glyphicon glyphicon-search " aria-hidden="true"></span></button>
        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        <% if params[:q].present? %>
          <label><%= t("admin.index.search_result_label") %>:</label>
          <label class="badge"><%= @staffs.count %></label>
        <% end %>
      </form>
    </div>



      <%= paginate @staffs, :theme => 'twitter-bootstrap-3' %>

     



      <table class="table table-striped table-bordered">
        <tr class="title_table">
          <td style="width: 10%;"><strong >所属店舗</strong></td>
          <td style="width: 20%;"><strong>スタッフ名</strong></td>
          <td style="width: 20%;"><strong>メールアドレス</strong></td>
          <td style="width: 20%;"><strong>パスワー</strong></td>
          <td style="width: 20%;"><strong>ipad</strong></td>
          <td class="sr-only" style="width: 10%;">#</td>
        </tr>
        <% @staffs.each_with_index do |staff, index| %>
	        <tr>
	          <td><%= staff.salon.nil? ? '': staff.salon.salon_name %></td>
	          <td><%= staff.staff_name %></td>
	          <td><%= staff.mail_address %></td>
	          <td>  
            <% if can? :manage, staff %>              
              <%= link_to password_path(staff.id), :class => "cp#{staff.id.to_s} btn btn-primary" do %>
	              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="glyphicon-class">Password</span>
	            <% end %>
            <% end %>
	          </td>
	          <td>
              <% if can? :manage, staff %>              
	            <a type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" href="<%= modal_path(staff) %>">
	              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br>
	            </a>
              <% end %>
	          </td>
	          <td>  
	            <button type="button" class="btn btn-default">
	              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>
	            </button>
	          </td>
	        </tr>
	    <% end %>
     </table>
     <!-- Modal -->
      <div class="modal fade custom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
           </div>
        </div>
      </div>
