<h3><%= t('admin.index.welcome') + "  " + current_staff.staff_name %></h3>
<%= link_to t('admin.index.logout'), signout_path %>
<% if flash.keys.any? %>
  <% [:notice, :error].each do |t| %>
    <%= flash[t] %>
  <% end %>
<% end %>
	<div class="well">
      <form class="form-inline" role="form" action="<%= root_path %>" method="GET">

        <select class="form-control">
          <option value="one">One</option>
          <option value="two">Two</option>
          <option value="three">Three</option>
          <option value="four">Four</option>
          <option value="five">Five</option>
        </select>



        <div class="form-group">
          <div class="input-group">
            <label class="sr-only" for="q_staff_name_cont">Email address</label>

            <input type="text" class="form-control" id="q_staff_name_cont" name="q[staff_name_cont]" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="q_mail_address_cont">Password</label>
          <input type="text" class="form-control" id="q_mail_address_cont" name="q[mail_address_cont]" placeholder="Mail">
        </div>
        <button type="submit" class="btn btn-default search_button"><span class="glyphicon glyphicon-search " aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>


      </form>
    </div>



      <%= paginate @staffs, :theme => 'twitter-bootstrap-3' %>

     



      <table class="table table-striped table-bordered">
        <tr class="title_table">
          <td style="width: 10%;"><strong >所属店舗</strong></td>
          <td style="width: 20%;"><strong>スタッフ名</strong></td>
          <td style="width: 20%;"><strong>メールアドレス</strong></td>
          <td style="width: 20%;"><strong>パスワー</strong></td>
          <td style="width: 20%;"><strong>ipad</strong></td>
          <td class="sr-only" style="width: 10%;">#</td>
        </tr>
        <% @staffs.each_with_index do |staff, index| %>
	        <tr>
	          <td><%= staff.salon.nil? ? '': staff.salon.salon_name %></td>
	          <td><%= staff.staff_name %></td>
	          <td><%= staff.mail_address %></td>
	          <td>                
              <%= link_to password_path(staff.id), :class => "cp#{staff.id.to_s} btn btn-primary" do %>
	              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="glyphicon-class">Password</span>
	            <% end %>
	          </td>
	          <td>
	            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
	              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br>
	            </button>
	          </td>
	          <td>  
	            <button type="button" class="btn btn-default">
	              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>
	            </button>
	          </td>
	        </tr>
	    <% end %>
     </table>
     <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel"><strong>iPadリセット　利用者名：</strong></h4>
            </div>
            <div class="modal-body">
              iPadリセット　利用者名：
              リセットボタンを押下すると、
              現在登録されているiPadの情報をリセットします。
              リセット後、新しいiPadでログインすると
              そのiPadからでのみログイン可能になり
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
              <button type="button" class="btn btn-primary">リセッ</button>
            </div>
          </div>
        </div>
      </div>
