

      <div class="col-md-3 well">
        <ul class="form-group" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      
      <% unless errors.empty? %>
        <ul>
          <% errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      <% end %>
      <% [:success, :error].each do |t| %>
        <% if flash[t] %>
          <%= flash[t] %>
        <% end %>
      <% end %>
      <div class="col-md-9">
        <form class="form-inline" role="form" >
          <h1><%= t("admin.password.title") %>: <%= @current_staff.staff_name %></h1>
        </form>
        <table class="table table-striped table-bordered">
          <tr>
            <td style="width: 50%;"  class="title_table"><strong >所属店舗</strong></td>
            <td style="width: 50%;">スタッフ名</td>

          </tr>

          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
        </table>

        <%= form_tag change_password_path(@current_staff) , method:"POST" do %>

          <div class="form-inline">
            <div class="form-group">
              <label><h1>パスワード:</h1> </label>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="staffs[password]" placeholder="パスワード">
            </div>
            <div class="form-group">
              <input type="submit" name="generate" class="btn btn-primary">パスワード生</button>
            </div>
          </div>
          <div class="form-group" role="form">
            <input type="submit" name="save" class="btn btn-primary" value="<%= t("admin.password.save_label") %>"></input>
          </div>

        <% end %>
        







        <form class="form-group" role="form" >
          <button type="button" class="btn btn-sm btn-warning"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">Show</span></button>

          <button type="button" class="btn btn-sm btn-danger">cancel</button>
        </form>
