
      
      <div class="col-md-3 well">
        <ul class="form-group" role="menu">
          <li role="presentation"><%= link_to t("admin.password.back"), root_path %></li>
          <li role="presentation"><%= link_to t("admin.password.logout"), signout_path %></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      
      
      <div class="col-md-9">
        <form class="form-inline" role="form" >
          <h1><%= t("admin.password.title") %>: <%= @staff.staff_name %></h1>
        </form>
        <table class="table table-striped table-bordered">
          <tr>
            <td style="width: 50%;"  class="title_table"><strong >所属店舗</strong></td>
            <td style="width: 50%;">スタッフ名</td>

          </tr>

          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
        </table>

        <%= form_tag change_password_path(@staff) , method:"POST" do %>

          <div class="form-inline">
            <div class="form-group">
              <label><h1><%= t("admin.password.password_label") %>:</h1> </label>
            </div>
            <div class="form-group">
              <% if @show %>
                <input type="text" class="form-control" id="password" name="staffs[password]" placeholder="パスワード" value="<%= @token %>">
              <% else %>
                <input type="password" class="form-control" id="password" name="staffs[password]" placeholder="パスワード" value="<%= @token %>">
              <% end %>
            </div>
            <div class="form-group">
              <input type="submit" name="generate" class="btn btn-primary" value="<%= t("admin.password.generate_label") %>"></input>
            </div>
            <% if flash[:success] or flash[:error] %>
            <div class="alert alert-danger" role="alert">
            <% [:success, :error].each do |t| %>
              <% if flash[t] %>
                <%= flash[t] %>
              <% end %>
            <% end %>
            <% unless errors.empty? %>
              
                <ul>
                  <% errors.each do |error| %>
                    <li><%= error.message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <% end %>
          </div>
          <div class="form-group">
            <input type="submit" name="save" class="btn btn-primary" value="<%= t("admin.password.save_label") %>"></input>
          </div>
          <div class="form-group">
            <input type="submit" name="show" class="btn btn-sm btn-warning" value="<%= t("admin.password.show_label") %>"></input>

            <input type="submit" name="hide" class="btn btn-sm btn-danger" value="<%= t("admin.password.hide_label") %>"></input>
          </div>
        <% end %>
        







        
