
      
      <div class="col-md-3 well">
        <ul class="form-group" role="menu">
          <li role="presentation"><%= link_to t("admin.password.back"), root_path %></li>
          <li role="presentation"><%= link_to t("admin.password.logout"), signout_path %></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      
      
      <div class="col-md-9">
        <form class="form-inline" role="form" >
          <h1><%= t("admin.password.title") %>: <%= @staff.staff_name %></h1>
        </form>
        <table class="table table-striped table-bordered">
          <tr>
            <td style="width: 50%;"  class="title_table"><strong >所属店舗</strong></td>
            <td style="width: 50%;">スタッフ名</td>

          </tr>

          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
        </table>

        <%= form_tag change_password_path(@staff), method:"POST" do %>
          <div style="display:none">
            <input type="password"/>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label><h1><%= t("admin.password.password_label") %>:</h1> </label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="staffs[password]" placeholder="パスワード"></input>
            </div>
            <div class="form-group">
              <button onclick="gen_pass()" type="button" name="generate" class="btn btn-primary"><%= t("admin.password.generate_label") %></button>
            </div>
            <% if flash[:success] or flash[:danger] %>
            
            <% [:success, :danger].each do |t| %>
            <div class="alert alert-<%= t  %>" role="alert">
              <% if flash[t] %>
                <%= flash[t] %>
              <% end %>
            <% end %>
            <% if errors.count > 0 %>
                <ul>
                  <% errors.each do |error| %>
                    <li><%= error.message %></li>
                  <% end %>
                </ul>            
            <% end %>
            </div>
            <% end %>
          <div class="form-group">
            <input type="submit" name="save" class="btn btn-primary" value="<%= t("admin.password.save_label") %>"></input>
          </div>
          <div class="form-group">
            <button onclick="show_pass()" type="button" name="show" class="btn btn-sm btn-warning"><%= t("admin.password.show_label") %></button>

            <button onclick="hide_pass()" type="button" name="hide" class="btn btn-sm btn-danger" ><%= t("admin.password.hide_label") %></button>
          </div>
        <% end %>
        




<script>
      
      
      function gen_pass()
      {
        
        o = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z".split(',');
        var p = new Array();
        for (i = 0; i < 3; i++)
        {
          var k = getRandomInt(0, o.length);
          p[i] = o[k];
        }




        o2 = "0,1,2,3,4,5,6,7,8,9".split(',');
        var p2 = new Array();
        for (i = 0; i < 3; i++)
        {
          var k = getRandomInt(0, o2.length);
          p2[i] = o2[k];
        }




        var o3 = ['~', '!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '|', '}', '{', '\\'];
        var p3 = new Array();
        for (i = 0; i < 2; i++)
        {
          var k = getRandomInt(0, o3.length);
          p3[i] = o3[k];
        };


        var pass = p.concat(p2).concat(p3);
        pass_shuffle = shuffle(pass);
       
        document.getElementById("password").value = pass_shuffle.join("")
        show_pass();
      }




      function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
      }



      function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }

        return array;
      }
      
      function show_pass(){
      
          document.getElementById("password").type = "text";
       
      }
       function hide_pass(){
        
       
          document.getElementById("password").type = "password";
        
      }


    </script>


        
