<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.header") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap.min" %>  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
